html
	head
		title SMB Practice ROM - Build Server!
		script(src="splits.js")
	body
		label(for='wsplit') Paste your wsplit file here:
		textarea#wsplit(oninput="update_splits()")

		div
			h1 Split Information

			label(for='start_rule') Rules waited before pressing start: 
			input#start_rule(type='text' value='0' oninput='update_splits()')
			br
			input#split_rule(type='radio' name='split_mode' onclick='update_splits()' checked)
			| I split post frame-rule effect
			br
			input#split_first(type='radio' name='split_mode' onclick='update_splits()')
			| I split on first frame of level

			h3#title_id

			label(for='download') Download: 
			span#download

			br

			label(for='attempts_id') Attempts: 
			span#attempts_id

			h3 Splits
			div#splits
