html
	head
		title SMB Practice ROM - Build Server!
		script(src="splits.js")
	body
		h1 I cant code for shit. Everything is off by one.
		h2 1-1 should start at "Pressing start at Rule", not when 1-1 was completed :)
		h2 I'll fix everything tomorrow. GNGN
		label(for='wsplit') Paste your wsplit file here:
		textarea#wsplit(oninput="update_splits()")

		div
			h1 Split Information

			label(for='start_rule') Pressing start at Rule: 
			input#start_rule(type='text' value='2' oninput='update_splits()')

			h3#title_id

			label(for='download') Download: 
			span#download

			br

			label(for='attempts_id') Attempts: 
			span#attempts_id

			h3 Splits
			div#splits
